canvas{
  position: fixed;
  top: 0;
  left: 0;
}

*{
  cursor: url('./aim.png');
}


#image-overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  background-size: cover;
  opacity: 1;
}

#image-overlay img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-overlay {
  z-index: 1;
}
